body {
    /* padding: 30px; */
    text-align: center;
    background-image: url("./snow.dng");
}

#questionBox {
    /* border: solid; */
    background-color: rgba(209, 238, 216, 0.301);
    margin-top: 20px;
    padding: 20px;
    
}

#header {
    background-color: darkolivegreen;
    padding: 30px;
}